body {
  background-color: #e4f0e4;
  margin: 0;
  min-height: 100vh;
}

/* body::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    rgba(220, 204, 203, 0.4),
    rgba(220, 144, 103, 0.1)
  );
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  z-index: -1;
} */
